
<template name="navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'index'}}">WatchMeNano</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{pathFor 'discover'}}">Discover</a></li>
          <!-- <li><a href="#">Friends</a></li> -->
          <li><a href="{{pathFor 'favorites'}}">Favorites</a></li>
          {{#if currentUser}}
            <li><a href="{{pathFor 'user_profile'}}">My NaNo</a></li>
          {{/if}}
          {{ loginButtons }}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
</template>